# Database
DATABASE_URI=mongodb://localhost:27017/gabriela-nunes

# Payload Secret - TROQUE POR UMA STRING ALEATÓRIA E SEGURA
PAYLOAD_SECRET=your-super-secret-key-change-this-in-production

# Next.js
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
